.containerCarousel{
    width: 100%;
    height: 25rem;
    margin: auto;
}

.imgCarousel{
    object-fit:contain;
    width: 100% !important;
    height: 20rem !important;
    margin: auto auto 5rem auto;
    transform: scale(0.8);
}

.nameBurger{
    color: rgb(241, 241, 37);
    font-size: 1.5rem;
    font-family:fantasy;
}

.nameAndDescriptionOfImg{
    margin: 10rem 0 0 0 !important;
}

.descriptionCarousel{
    font-family:fantasy;
}

.carousel-control-prev-icon {
    /* background-image: escape-svg($carousel-control-prev-icon-bg); */
    background-image:url('../assets/images/Carousel/arrows/spatulaPrev.png') !important;
    filter: invert();
    width: 4rem !important;
    height: 4rem !important;
  }
  .carousel-control-next-icon {
    /* background-image: escape-svg($carousel-control-next-icon-bg); */
    background-image:url('../assets/images/Carousel/arrows/spatulaNext.png') !important;
    filter: invert();
    width: 4rem !important;
    height: 4rem !important;
  }

.carousel-indicators button{
    border: solid white;
    border-radius: 1000rem !important;
    width: 8px !important;
    height: 8px !important;
}