.containerCart{
    display: flex;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 37rem;
    background-color: rgba(0, 0, 0, 0.526);
}

.modalCart{
    overflow: hidden;
    border: solid white;
    width: 50%;
    height: 30rem;
    border-radius: 1rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.785);
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  

.noProductInCart{
    display: flex;
    justify-content: center;
    margin: 10rem 0 0 0;
}

.noProductInCart p{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.buttonCartOpen{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.buttonCartOpen img{
    width: 2.2rem;
    cursor: pointer;
    /* transition: 0.2s; */
}

/* .buttonCartOpen img:hover{
    transform: scale(1.1);
} */

.closeModalCart{
    background-color: rgb(0, 0, 0);
    border: solid white;
    border-color: white;
    color: white;
    font-weight: bold;
    width: 2rem;
    margin: 1rem;
    transition: 0.2s;
}

.closeModalCart:hover{
    transform: scale(1.1);
}

.containerCartCardsStyles{
    overflow: scroll;
}

.containerCartCardsStyles::-webkit-scrollbar{
    overflow-x: hidden;
    width: 0.4rem;
}

.containerCartCardsStyles::-webkit-scrollbar-track{
    background-color: rgba(255, 234, 0, 0);
    width: 0.4rem;
    overflow-x: hidden;
}

.containerCartCardsStyles::-webkit-scrollbar-thumb{
    background-color: rgb(255, 234, 0);
    width: 0.4rem;
    overflow-x: hidden;
}

.containerCartCardsStyles::-webkit-scrollbar-corner{
    background-color: rgba(139, 69, 19, 0);
}

.containerCartCardsStylesScroll{
    height: 14rem;
}

.myCartTitle{
    margin-top: -2rem;
    text-align: center;
}

.containerCardCart{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8rem;
    border: solid white;
}

.containerCardCart p{
    font-size: 1rem;
    font-weight: bold;
}

.containerCardCart img{
    width: 15%;
}

.containerCardCart button{
    color: white;
    background-color: rgba(51, 60, 68, 0);
    font-size: 0.8rem;
    margin-top: -0.8rem;
    border: none;
}

.PriceAndFinally{
    display: flex;
    justify-content: space-around;
}

.PriceAndFinally p{
    font-weight: bold;
}

.finallyBuy{
    width: 10rem;
    height: 2.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 230, 0);
    transition: 0.2s;
}

.finallyBuy:hover{
    transform: scale(1.03);
    background-color:rgb(255, 240, 103) ;
}

.emptyCart{
    color: white;
    width: 9rem;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    background-color: rgba(255, 72, 0, 0.566);
}

.emptyCart:hover{
    background-color: rgba(255, 93, 30, 0.566);
}