
.cardMainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    /* height: 60vh; */
    height: 28vw;
    width: 18vw;
    margin-top: 2vh;
    margin-bottom: 6vh;
    margin-left: 2vw;
    margin-right: 2vw;
    position: relative;
    /* border-style: solid;
    border-width: 2px;
    border-color: rgb(144, 141, 141); */
}

.cardMainContainer:hover > [id="imageContainer"] {
    transform: scale(1.05);
   
}

.cardMainContainer:hover > [id="solidContainer"] {
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
    background-color: rgb(65, 63, 63);
   
}


.solidContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 35vh; */
    height: 21vw;
    width: 18vw;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: rgb(60, 56, 56);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
    /* border-style: solid;
    border-width: 2px;
    border-color: rgb(125, 230, 230); */
}



.imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 17vw;    
    background: transparent;
    position: absolute;    
    bottom: 12vw;
    z-index: 2;
    transition: 0.2s;
    /* background-color: rgb(48, 48, 48);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(125, 230, 230); */
}

.burgerName {
    margin-top: 11vw;
    margin-bottom: 1vw;
    color: rgb(253, 250, 173);
    font-size: 1.2rem;
    font-family: 'Aclonica', sans-serif;
}

.burgerPrice {
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    color: rgb(249, 248, 215);
    font-size: 1.5rem;
    font-family: 'Aclonica', sans-serif;
}

.addButton {
    background-color: rgb(167, 165, 117);    
    height: 2vw;
    border-radius: 0.8vw;
    font-family: 'Marhey', cursive;
    border-style: none;   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.8s;
}

.addButton:hover {
    background-color: rgb(213, 211, 149);    
}

img {
    width: 17vw;
}

.swalertPopup{
    border-color: var(--color-gray) !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color: var(--color-swalert-bg) !important;
    height: 20em;
    width: 20em;
    position: absolute;
    left:var(--posLeft);
    top: var(--posTop);
  }
  
  .swalertTitle {
    color: rgb(249, 249, 254) !important;
  }
  
  .swalertHtml {
    color: rgb(244, 240, 240) !important;
    background-color: transparent;
  }
  
  .swalertActions {
    background-color: transparent;
    
  }
  
  .swalertConfirmButton {
    /* background-color: var(--color-red)!important; */
    background-color: rgb(155, 153, 90); 
    color: azure;
    width: 6rem;
    height: 4.5rem;
    border-radius: 0.5em !important;
    font-size: 1.4rem !important;
    border-style: none;
    
  }
  
  .modalButton {
    background-color: var(--color-red);
    color: var(--color-gray-clear);
    padding: 0.5em;
    border-radius: 0.4em;
    width: 7rem;
    height: 3.5em;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 0.4em;
    border-width: 0px;
    cursor: pointer;
    margin-top: 3rem;
  }
  
