* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
    background-color: rgb(7, 8, 10);
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.optionMenu {
    color:white;
    font-family: 'Aclonica', sans-serif;
    margin-top: 5em;
    font-size: 1.5em;
}

.liOptionMenu {
    margin-top: 1em;
    margin-left: 0.5em;
}

.liOptionMenu:hover {
    background: rgb(175, 168, 168);
}

.burgerMenu {
    height: 100%;
    width: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burgerBar {
    width: 3em;
    height: 0.4em;
    background-color: rgb(186, 194, 197);
    border-radius: 0.5em;
}

.menu {
    width: 20%;
    height: auto;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: -1;
    border-right: 3px solid #fad319;
    border-bottom: 3px solid #fad319;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burgerBar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.25em, 0.6em);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burgerBar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}