@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Marhey:wght@400&display=swap');
@import './variables.css';
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #232323, #252525, #262626, #282828, #2a2a2a, #2b2b2b, #2b2b2b, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

