.titleContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Aclonica', sans-serif;
    font-size: 2rem;
    margin-top: 5vh;
}

span[id="titleLeft"] {
    color:#fad319;
}

span[id="titleRight"] {
    color:#ffffff;
}